*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(136deg, rgb(91 185 174), rgb(237 190 172));
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: 35px;
    margin-bottom: 12px;
    opacity: 78% ;

}


.jokearea{
    border: 2px solid rgb(18, 16, 16);
    background-color: #9eb6cc;
    width: 45%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 20px;
    padding: 20px;
    cursor: default;
}



#btn{
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 8px;
    background-color: #aacff1;
    cursor: pointer;

}

#btn:hover{
    background-color: #8bb3d9;
}
